body {
	background-color:#333;
}

#main {
	position:relative;
	margin:0 auto;
}

#main > div {
	margin:60px auto;
	position:relative;
}

.result {
	position:relative;
	margin:20px auto;
	background-color:white;
	color:blue;
	font-size:60px;
	font-family:monaco, monospace;
	padding:20px;
	width:120px;
	height:80px;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1, h2 {
	position:relative;
	margin:0 auto;
	text-align:center;
	color:#08a;
	text-shadow:#068 0 -1px 0, #8ac 0 1px 0;
	font-family:monaco, monospace;
}

h1 {
	font-size:48px;
}

h2 {
	font-size:36px;
}